.container {
	background: #32313a;
	display: flex;
	justify-content: center;
}
.Dress__block {
	width: 1110px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dress__img {
	margin: 22px 0;
}
