.footer {
	display: flex;
	justify-content: center;
	background: #f7f7f9;
	&__wrap {
		width: 1110px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__nav-list {
		list-style: none;
	}
	&__nav-link {
		color: #6e6d74;
		text-decoration: none;
		&:hover {
			color: #ed83a8;
			transition: all 300ms linear;
		}
	}
	&__nav-item {
		margin-bottom: 20px;
	}
	&__nav-item-botoom {
		margin-bottom: 18px;
	}
	&__nav-item-nobotoom {
		margin-bottom: 0px;
	}
	&__support {
		margin: 70px 0 78px;
	}
	&__email-text {
		color: #6e6d74;
		width: 540px;
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 25px;
	}
	&__socials {
		width: 200px;
		display: flex;
		justify-content: space-between;
	}
	&__socials-item {
		cursor: pointer;
		transition: color, transform 500ms ease;
		&:hover {
			transform: scale(1.2);
			color: #ed83a8;
		}
	}
	&__dress {
		display: flex;
		justify-content: center;
	}
	&__dress-wrap {
		width: 1110px;
		display: flex;
		margin: 20px;
		justify-content: space-between;
	}
	&__copyright {
		font-size: 14px;
		line-height: 22px;
		color: #86858b;
	}
}

.nav__link-bolt {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #32313a;
	margin-bottom: 18px;
}

.email__form {
	margin-bottom: 40px;
}
.email__btn {
	color: #ffffff;
	font-weight: 600;
	font-size: 14px;
	background: #32313a;
	width: 106px;
	height: 36px;
	border: none;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	cursor: pointer;
	&:hover {
		background: #ed83a8;
		transition: all 0.2s linear;
	}
}
.email__input {
	border-radius: 2px;
	width: 262px;
	height: 36px;
	border: none;
	color: #86858b;
	padding: 10px;
	outline: none;
}
