@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.slider {
	display: flex;
	justify-content: center;
	margin: 100px 0 100px;
	&__wrapper {
		width: 1110px;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
	}
	&__sub {
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		color: #32313a;
		border: none;
		background: none;
		margin-bottom: 10px;
	}
	&__title {
		font-weight: 700;
		font-size: 26px;
		line-height: 36px;
		color: #32313a;
		cursor: pointer;
		border: none;
		background: none;
		&:hover {
			transition: all 300ms ease;
			color: #ed83a8;
		}
	}
	&__wrp {
		display: flex;
		justify-content: space-between;
	}
	&__arrrow-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	&__width-fix {
		width: 1110px;
	}
	&__subtext-sale {
		color: red;
		display: flex;
		align-items: center;
	}
	&__old-price {
		color: #b5b5bc;
		font-size: 13px;
		line-height: 16px;
		text-decoration-line: line-through;
		margin-left: 8px;
	}
}

.glide__slide {
	width: 25%;
}
.bg__img {
	background: url("../scss/img/zara1.jpg");
	background-size: contain;
	width: 255px;
	height: 384px;
	display: flex;
	background-repeat: no-repeat;
	border-radius: 2px;
	margin-bottom: 15px;
	justify-content: flex-end;
}
.bg__img-cards {
	width: 255px;
	height: 384px;
	object-fit: contain;
}
.cards__item {
	width: 255px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.slider__img2 {
	background: url("../scss/img/slider22.jpg");
	background-size: contain;
}
.slider__img3 {
	background: url("../scss/img/slider3.jpg");
	background-size: contain;
}
.slider__img4 {
	background: url("../scss/img/slider4.jpg");
	background-size: contain;
}

.card__sub-title {
	font-weight: 700;
	line-height: 18px;
	color: #32313a;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
}
.card__sub-text {
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 10px;
	text-decoration: none;
}
.card__sub-description {
	display: -webkit-box;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 16px;
	color: #56555d;
	text-decoration: none;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin: 10px 0 10px 0;
}
.slider__heart {
	border-radius: 100px;
	background-color: #fff;
	width: 24px;
	height: 24px;
	margin: 12px 12px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	&__heart-item {
		background-color: unset;
		border: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.card__heart {
	position: absolute;
	&-btn {
		background-color: whitesmoke;
		border: 0;
		height: 24px;
		margin-left: 240px;
		width: 24px;
		border-radius: 100%;
		display: flex;
		align-items: center;
	}
	&-item {
		width: 14px;
		height: 14px;
		cursor: pointer;
		margin-left: 5px;
		position: absolute;
		&:hover {
			color: #ed83a8;
		}
	}
}
.card__heart-item_active {
	color: gold;
}
.glide__style {
	position: unset;
	display: flex;
	justify-content: flex-end;
	border: none;
	background: none;
}
.arrow__glide {
	width: 25px;
	height: 25px;
	cursor: pointer;
	&-left {
		color: #b5b5bc;
		margin-right: 20px;
	}
}

.slider2__img0 {
	background: url("../scss/img/slider2-img0.webp");
	background-size: contain;
}
.slider2__img1 {
	background: url("../scss/img/slider2-img1.webp");
	background-size: cover;
}
.slider2__img2 {
	background: url("../scss/img/slider2-img2.webp");
	background-size: contain;
}
.slider2__img3 {
	background: url("../scss/img/slider2-img3.webp");
	background-size: contain;
}
