.searchpage {
	display: flex;
	justify-content: center;
	&__container {
		width: 1110px;
	}
	&__bread {
		font-size: 12px;
		line-height: 16px;
		color: #6e6d74;
		margin: 25px 0px 40px 0px;
	}
	&__img {
		width: 610px;
		height: 900px;
		border-radius: 2px;
		object-fit: contain;
	}
	&__info-container {
		display: flex;
		justify-content: space-between;
	}
	&__info-wrap {
		width: 350px;
	}
	&__subtitle {
		color: #6e6d74;
		margin-bottom: 8px;
		margin-right: 8px;
	}
	&__price {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 35px;
	}
	&__selectcolor-wrap {
		display: flex;
	}

	&__color-wrap {
		display: flex;
		margin: 10px 0 30px 0;
	}
	&__red {
		width: 45px;
		height: 45px;
		border-radius: 100%;
		background: red;
		cursor: pointer;
	}
	&__violet {
		width: 45px;
		height: 45px;
		border-radius: 100%;
		background: rgb(224, 54, 254);
		margin-left: 10px;
		cursor: pointer;
	}
	&__subdetails {
		font-size: 14px;
		line-height: 16px;
		color: #32313a;
		margin-bottom: 18px;
	}
	&__subinfo {
		line-height: 22px;
		color: #86858b;
		font-size: 14px;
	}
	&__input {
		width: 350px;
		height: 40px;
		padding-left: 14px;
		outline: none;
	}
	&__add-btn {
		width: 300px;
		height: 40px;
		background: #32313a;
		border-radius: 2px;
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		color: #e6e5e8;
		border: none;
		margin: 31px 0 43px 0;
		cursor: pointer;
		&:hover {
			background: #ed83a8;
			transition: all 0.2s linear;
		}
	}
}
