.searchpage {
	display: flex;
	justify-content: center;
	&__container {
		width: 1110px;
	}
	&__bread {
		font-size: 12px;
		line-height: 16px;
		color: #6e6d74;
		margin: 25px 0px 40px 0px;
	}
	&__img {
		width: 610px;
		height: 900px;
		border-radius: 2px;
		object-fit: contain;
	}
	&__info-container {
		display: flex;
		justify-content: space-between;
	}
	&__info-wrap {
		width: 350px;
	}
	&__subtitle {
		color: #6e6d74;
		margin-bottom: 8px;
		margin-right: 8px;
	}
	&__price {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 35px;
	}
	&__selectcolor-wrap {
		display: flex;
	}

	&__color-wrap {
		display: flex;
		margin: 10px 0 30px 0;
	}
	&__red {
		width: 45px;
		height: 45px;
		border-radius: 100%;
		background: red;
		cursor: pointer;
	}
	&__violet {
		width: 45px;
		height: 45px;
		border-radius: 100%;
		background: rgb(224, 54, 254);
		margin-left: 10px;
		cursor: pointer;
	}
	&__subdetails {
		font-size: 14px;
		line-height: 16px;
		color: #32313a;
		margin-bottom: 18px;
	}
	&__subinfo {
		line-height: 22px;
		color: #86858b;
		font-size: 14px;
	}
	&__input {
		width: 350px;
		height: 40px;
		padding-left: 14px;
		outline: none;
	}
	&__add-btn {
		width: 300px;
		height: 40px;
		background: #32313a;
		border-radius: 2px;
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		color: #e6e5e8;
		border: none;
		margin: 31px 0 43px 0;
		cursor: pointer;
		&:hover {
			background: #ed83a8;
			transition: all 0.2s linear;
		}
	}
	&__heart-contain {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__heart-wrap {
		width: 42px;
		height: 42px;
		background: #e4e5e8;
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 12px;
	}
	&__heart-item {
		width: 20px;
		height: 20px;
		cursor: pointer;
		&:hover {
			color: #ed83a8;
			transition: all 0.3s linear;
		}
	}
}

.size__btn {
	height: 40px;
	width: 350px;
	border: 1px solid #cccbcf;
	border-radius: 2px;
	cursor: pointer;
	background: #ffffff;
	&:hover {
		background: #f4f4f4;
	}
	&-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #86858b;
		margin-left: 12px;
	}
	&-dropdown {
		margin-right: 10px;
		width: 18px;
		height: 21px;
	}

	&-li {
		height: 40px;
		width: 350px;
		border: 1px solid #cccbcf;
		border-radius: 2px;
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #86858b;
		padding-left: 12px;
		list-style-type: none;
		background: #ffffff;
		cursor: pointer;
		&:hover {
			background: rgb(248, 248, 248);
		}
	}
	&-ul {
		position: relative;
		padding: 8px 0;
		position: absolute;
		top: -60px;
		z-index: -1;
	}
	&-ul-show {
		// display: flex;
		// flex-direction: column;
		// position: relative;
		// display: inline-block;
		top: 160%;
		z-index: 5;
	}
	&-ul-noshow {
		display: none;
	}
}
